.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 40px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}


input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}